#-------------#
# Maven Files #
#-------------#
target
reports

#---------------------------#
# Anypoint Studio / Eclipse #
#---------------------------#
.studio
.classpath
.project
.settings
.metadata
.mule
.tooling
.tooling-apps-cache
mule-project.xml
.mule
catalog

#-----------#
# Mac Files #
#-----------#
.DS_Store

#------------------#
# Derby / ActiveMQ #
#------------------#
activemq-data
derby.log
